@mixin wavy-container {
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 87.5%,
    2% 87.28%,
    4% 86.62%,
    6% 85.55%,
    8% 84.11%,
    10% 82.35%,
    12% 80.32%,
    14% 78.11%,
    16% 75.78%,
    18% 73.43%,
    20% 71.14%,
    22% 68.98%,
    24% 67.03%,
    26% 65.37%,
    28% 64.05%,
    30% 63.11%,
    32% 62.6%,
    34% 62.52%,
    36% 62.89%,
    38% 63.69%,
    40% 64.89%,
    42% 66.44%,
    44% 68.3%,
    46% 70.4%,
    48% 72.66%,
    50% 75%,
    52% 77.34%,
    54% 79.6%,
    56% 81.7%,
    58% 83.56%,
    60% 85.11%,
    62% 86.31%,
    64% 87.11%,
    66% 87.48%,
    68% 87.4%,
    70% 86.89%,
    72% 85.95%,
    74% 84.63%,
    76% 82.97%,
    78% 81.02%,
    80% 78.86%,
    82% 76.57%,
    84% 74.22%,
    86% 71.89%,
    88% 69.68%,
    90% 67.65%,
    92% 65.89%,
    94% 64.45%,
    96% 63.38%,
    98% 62.72%,
    100% 62.5%
  );
}

@mixin invert-wavy-container {
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 87.5%,
    2% 87.28%,
    4% 86.62%,
    6% 85.55%,
    8% 84.11%,
    10% 82.35%,
    12% 80.32%,
    14% 78.11%,
    16% 75.78%,
    18% 73.43%,
    20% 71.14%,
    22% 68.98%,
    24% 67.03%,
    26% 65.37%,
    28% 64.05%,
    30% 63.11%,
    32% 62.6%,
    34% 62.52%,
    36% 62.89%,
    38% 63.69%,
    40% 64.89%,
    42% 66.44%,
    44% 68.3%,
    46% 70.4%,
    48% 72.66%,
    50% 75%,
    52% 77.34%,
    54% 79.6%,
    56% 81.7%,
    58% 83.56%,
    60% 85.11%,
    62% 86.31%,
    64% 87.11%,
    66% 87.48%,
    68% 87.4%,
    70% 86.89%,
    72% 85.95%,
    74% 84.63%,
    76% 82.97%,
    78% 81.02%,
    80% 78.86%,
    82% 76.57%,
    84% 74.22%,
    86% 71.89%,
    88% 69.68%,
    90% 67.65%,
    92% 65.89%,
    94% 64.45%,
    96% 63.38%,
    98% 62.72%,
    100% 62.5%
  );
}

@mixin box-shadow {
  box-shadow: 0 1rem 3rem rgba(black, 0.1);
}
